<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smb">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".application.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.auth.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.test.TestActivity" />
        <activity
            android:name=".presentation.player.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".presentation.home.activity.HomeRootActivityTab"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.shows.activity.ShowsRootActivityTab"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.influencers.activity.InfluencersRootActivityTab"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6c7e28daa57ff8ba3be6591e57e9e62b8a7ac754" />
        <meta-data
            android:name="com.instagram.instagramapi.InstagramAppClientId"
            android:value="6ae1dc70ed18453498b5fcbb3073ee17" />

        <meta-data
            android:name="com.instagram.instagramapi.InstagramAppRedirectURL"
            android:value="https://example.com/" />
    </application>

</manifest>