<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.smb.presentation.blank.ShowsActivity" />
        <activity android:name="com.smb.presentation.shows.blank.ShowsActivity" />
        <activity android:name="com.smb.presentation.influencers.activity.blank.InfluencersRootActivity" />
    </application>

</manifest>