<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.smb.blank.BlankActivity" />
        <activity android:name="com.smb.presentation.test.blank.HomeActivity" />
        <activity android:name="com.smb.presentation.player.blank.PlayerActivity" />
        <activity android:name="com.smb.presentation.main.blank.NavigationActivity" />
        <activity android:name="com.smb.presentation.home.activity.blank.HomeActivity" />
    </application>

</manifest>